@model BirdWatcherWebApp.Models.spotted

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>spotted</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantitySpotted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantitySpotted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
